{% import 'macros.html' as macros %}

<html>
<head>
  <title>Item Details</title>
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="py-12 bg-white max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="">
            {{macros.tableview(orig_id, strings)}}
            <button hx-post="/submit" hx-include="#label-table" hx-target="#label-table" hx-swap="#label-table" class="inline-flex items-center px-6 py-3 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>
</html>
