{% macro tableview(orig_id, strings) -%}
<form id="label-table">
    <div class="lg:text-center">
        <h2 class="text-base text-gray-600 font-semibold tracking-wide uppercase">Checking Similarity</h2>
        <h3 class="text-base text-2xl text-gray-900 tracking-wide"><b>{{orig_id}}</b></h3>
        <br>
    </div>
    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <input type='hidden' value='{{orig_id}}' name='origid'>
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Similar?</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Text</th>
                </tr>
            </thead>
            <tbody id="tbody" class="bg-white divide-y divide-gray-200">
                {% for string in strings %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <input type='hidden' value='off' name='{{string}}'>
                        <input type="checkbox" name="{{string}}">
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-900">{{string}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{%- endmacro %}
